@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #051d30;
    overflow-x: hidden;
    overflow-y: hidden;
}

.auth {
    display: flex;
    gap: 5rem; /* Espace entre les éléments */
    align-items: center;
    justify-content: center;
}

.col-md-6 img {
    width: 700px; /* Maintient le rapport d'aspect de l'image */
    height: 53rem;
    overflow-x: hidden;
    display: block;
}
.form-control {
    padding: 1.5rem;
    border-radius: 10px;
}
input[type="file"] {
    display: flex;
    align-items: center;
    justify-content: center;
}



@media only screen and (max-width: 768px) {
    body {
        overflow-y:scroll;
    }
    .col-md-6 img {
    width: 730px; /* Maintient le rapport d'aspect de l'image */
    height: 53rem;
    overflow-x: hidden;
    display: none;
    }
   
}
